/* PHASE 5: Cats */
.content-header {
  height: 200px;
  background-image: url(../../shared/img/cats.jpg);
  background-size: cover;
  width: 900px;
  margin: auto;
  position: relative;
}

.content-header-container {
  position:absolute;
  bottom: 10%;
  width: 100%;
}

.username {
  position: absolute;
  color: white;
  width: 100%;
  text-align: center;
  margin: auto;
  text-shadow: 8px 8px 18px black;
  font-size: 40px;
  font-weight: 300;
  /*line-height: 1px;*/
  bottom: 0;
}

.button {
  position: absolute;
  color: black;
  background-color: white;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 700;
  padding: 10px 20px;
  right: 15px;
  bottom: 0;
  margin: auto;
}
